# quarterly home prices by state

SKIP TO "THE GOOD STUFF" SECTION

* source: federal housing finance agency
* data level: quarterly, state-level
* data url: https://www.fhfa.gov/DataTools/Downloads/Documents/HPI/HPI_EXP_state.txt

# THE SETUP STUFF

This is just code to pull in the data and format it the way we want

In [65]:
import pandas as pd

In [66]:
cached = None

def get_data():
    
    global cached
    
    if cached is None:
        cached = pd.read_csv("https://www.fhfa.gov/DataTools/Downloads/Documents/HPI/HPI_EXP_state.txt",sep="\t")
        
    return cached

get_data().head()

,state,yr,qtr,index_nsa,index_sa,note
0,AK,1991,1,100.00,100.00,Note: DataQuick (County Records) Data Comprise...
1,AK,1991,2,99.58,99.35,Note: DataQuick (County Records) Data Comprise...
2,AK,1991,3,101.44,100.86,Note: DataQuick (County Records) Data Comprise...
3,AK,1991,4,100.09,100.64,Note: DataQuick (County Records) Data Comprise...
4,AK,1992,1,101.77,101.75,Note: DataQuick (County Records) Data Comprise...

In [67]:
def state_data(st):
    return get_data()[get_data()["state"] == st.upper()]

state_data("ct").head()

    state    yr  qtr  index_nsa  index_sa note
624    CT  1991    1     100.00    100.00  NaN
625    CT  1991    2      97.49     97.76  NaN
626    CT  1991    3      97.75     97.06  NaN
627    CT  1991    4      96.31     96.65  NaN
628    CT  1992    1      96.79     96.96  NaN

In [68]:
def hpindex(st, yr, qtr):
    return get_data()[(get_data()["state"] == st.upper())\
                     & (get_data()["yr"] == yr)\
                     & (get_data()["qtr"] == qtr)]

hpindex("CT",2010,1)

    state    yr  qtr  index_nsa  index_sa note
700    CT  2010    1     162.26    166.16  NaN

In [69]:
def hpgrowth(st, start=1900,end=2100):
    df = state_data(st)
    df = df[(df["yr"] >= start)\
            &(df["yr"] <= end)]
    
    df = df.sort_values(by=["yr","qtr"], ascending=True)
    
    first = df.head(1)
    last = df.tail(1)
    
    ret = pd.DataFrame([
            int(last["index_sa"]) - int(first["index_sa"]),
            int(last["index_nsa"]) - int(first["index_nsa"]),
            int(first["index_sa"]),
            int(last["index_sa"]),
            int(first["index_nsa"]),
            int(last["index_nsa"]),
            int(first["yr"]),
            int(last["yr"])
    ],index=["sa_growth","nsa_growth",
             "first_sa","last_sa","first_nsa","last_nsa",
             "first_yr","last_yr"])
    
    ret.columns = [st.upper()]
    
    return ret.transpose()

hpgrowth("ct",start=2005,end=2017)

,sa_growth,nsa_growth,first_sa,last_sa,first_nsa,last_nsa,first_yr,last_yr
CT,-19,-17,189,170,187,170,2005,2016

In [70]:
def hpgrowth_us(start=1900,end=2100):
    frames = []
    for st in get_data()["state"].unique():
        frames.append(hpgrowth(st, start=start,end=end))
        
    return pd.concat(frames)

# THE GOOD STUFF

# 1. States ranked by growth from 1991 through 2016

(Ordered by seasonally adjusted growth)

In [71]:
hpgrowth_us().sort_values(by="sa_growth",ascending=False)

,sa_growth,nsa_growth,first_sa,last_sa,first_nsa,last_nsa,first_yr,last_yr
DC,319,319,100,419,100,419,1991,2016
OR,293,295,100,393,100,395,1991,2016
CO,277,276,100,377,100,376,1991,2016
MT,272,276,100,372,100,376,1991,2016
UT,263,261,100,363,100,361,1991,2016
ND,261,268,100,361,100,368,1991,2016
WY,242,242,100,342,100,342,1991,2016
WA,219,219,100,319,100,319,1991,2016
HI,193,196,100,293,100,296,1991,2016
SD,180,181,100,280,100,281,1991,2016
MA,172,173,100,272,100,273,1991,2016
ID,171,173,100,271,100,273,1991,2016
AZ,165,164,100,265,100,264,1991,2016
AK,161,159,100,261,100,259,1991,2016
MN,152,152,100,252,100,252,1991,2016
NE,150,151,100,250,100,251,1991,2016
TX,146,146,100,246,100,246,1991,2016
LA,145,145,100,245,100,245,1991,2016
CA,143,144,100,243,100,244,1991,2016
WV,139,141,100,239,100,241,1991,2016
IA,136,137,100,236,100,237,1991,2016
FL,134,135,100,234,100,235,1991,2016
NM,133,133,100,233,100,233,1991,2016
VA,130,129,100,230,100,229,1991,2016
WI,129,129,100,229,100,229,1991,2016
TN,126,126,100,226,100,226,1991,2016
NH,124,122,100,224,100,222,1991,2016
KS,124,124,100,224,100,224,1991,2016
ME,123,123,100,223,100,223,1991,2016
OK,117,118,100,217,100,218,1991,2016
MD,108,109,100,208,100,209,1991,2016
KY,107,107,100,207,100,207,1991,2016
RI,105,107,100,205,100,207,1991,2016
SC,104,104,100,204,100,204,1991,2016
NY,102,104,100,202,100,204,1991,2016
NJ,101,102,100,201,100,202,1991,2016
AR,101,101,100,201,100,201,1991,2016
NV,101,102,100,201,100,202,1991,2016
VT,100,101,100,200,100,201,1991,2016
MO,100,99,100,200,100,199,1991,2016
NC,99,100,100,199,100,200,1991,2016
PA,95,95,100,195,100,195,1991,2016
DE,88,88,100,188,100,188,1991,2016
MS,86,84,100,186,100,184,1991,2016
GA,86,86,100,186,100,186,1991,2016
IN,83,84,100,183,100,184,1991,2016
MI,77,78,100,177,100,178,1991,2016
IL,77,77,100,177,100,177,1991,2016
AL,71,71,100,171,100,171,1991,2016
CT,70,70,100,170,100,170,1991,2016
OH,68,68,100,168,100,168,1991,2016

# States ranked by growth from 2009 through 2016

(again ordered by seasonally adjusted growth)

In [80]:
hpgrowth_us(start=2009,end=2017).sort_values(by="sa_growth",
                          ascending=False)

,sa_growth,nsa_growth,first_sa,last_sa,first_nsa,last_nsa,first_yr,last_yr
DC,162,162,257,419,257,419,2009,2016
CO,132,134,245,377,242,376,2009,2016
ND,119,126,242,361,242,368,2009,2016
OR,97,100,296,393,295,395,2009,2016
CA,91,93,152,243,151,244,2009,2016
AZ,87,88,178,265,176,264,2009,2016
HI,79,78,214,293,218,296,2009,2016
UT,72,73,291,363,288,361,2009,2016
TX,67,67,179,246,179,246,2009,2016
WA,67,69,252,319,250,319,2009,2016
MT,65,71,307,372,305,376,2009,2016
FL,64,66,170,234,169,235,2009,2016
NV,57,59,144,201,143,202,2009,2016
SD,55,56,225,280,225,281,2009,2016
MA,54,57,218,272,216,273,2009,2016
NE,52,55,198,250,196,251,2009,2016
MI,51,53,126,177,125,178,2009,2016
MN,48,50,204,252,202,252,2009,2016
ID,44,47,227,271,226,273,2009,2016
TN,42,44,184,226,182,226,2009,2016
NH,37,39,187,224,183,222,2009,2016
IA,36,38,200,236,199,237,2009,2016
WY,36,39,306,342,303,342,2009,2016
IN,32,35,151,183,149,184,2009,2016
KY,31,33,176,207,174,207,2009,2016
KS,29,32,195,224,192,224,2009,2016
WV,29,32,210,239,209,241,2009,2016
OH,29,33,139,168,135,168,2009,2016
VA,28,30,202,230,199,229,2009,2016
AK,28,29,233,261,230,259,2009,2016
GA,27,28,159,186,158,186,2009,2016
LA,27,27,218,245,218,245,2009,2016
SC,26,27,178,204,177,204,2009,2016
OK,26,29,191,217,189,218,2009,2016
RI,25,27,180,205,180,207,2009,2016
MO,22,24,178,200,175,199,2009,2016
WI,21,23,208,229,206,229,2009,2016
ME,21,24,202,223,199,223,2009,2016
AR,19,20,182,201,181,201,2009,2016
NC,19,21,180,199,179,200,2009,2016
NY,19,22,183,202,182,204,2009,2016
PA,12,14,183,195,181,195,2009,2016
MS,12,12,174,186,172,184,2009,2016
MD,10,12,198,208,197,209,2009,2016
IL,10,12,167,177,165,177,2009,2016
NM,6,7,227,233,226,233,2009,2016
VT,3,7,197,200,194,201,2009,2016
AL,-2,0,173,171,171,171,2009,2016
DE,-3,0,191,188,188,188,2009,2016
CT,-3,0,173,170,170,170,2009,2016
NJ,-7,-5,208,201,207,202,2009,2016